@model CarRental.UI.ViewsModels.Car.CarIndexViewsModel
@using System.Configuration

@{
    ViewBag.Title = "Index";
    var imageUrl = ConfigurationManager.AppSettings["CarImageURL"];
}

<section class="content-header">
    <h2>Voitures</h2>

</section>
<section class="content">
    <!-- New car form -->
    <div class="box box-primary collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Ajouter une voiture</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Marque</label>
                        @Html.DropDownListFor(m => m.SelectedCarsMakeId, Model.CarsMakes, "Selectionner la marque d'une voiture", new { @class = "select2CarMake form-control" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Modèle</label>
                        <select id="dropdownlistCarsModels" class="form-control select2CarModel" name="dropdownlistCarsModels"></select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Nombre de place</label>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> 4
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> 5
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> 7
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Energie</label>
                        <input type="text" name="Energy" id="Energy" class="form-control" placeholder="Carburant de la voiture" required="" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Plaque d'immatriculation</label>
                        <input type="text" name="Licence_Plate" id="Licence_Plate" class="form-control" placeholder="Enter Licence_Plate" required="" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Kilométrage</label>
                        <input type="text" name="Mileage" id="Mileage" class="form-control" placeholder="Enter Mileage" required="" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Entreprise</label>
                        <select id="dropdownlistCompany" class="form-control">
                            <option value="1">Campus de Nantes</option>
                            <option value="2">Campus de Nantes Faraday</option>
                            <option value="3">Campus de Rennes</option>
                            <option value="4">Campus de Niort</option>
                        </select>                    
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Photo</label>
                        <input type="file" name="CarImage" id="CarImage" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <input type="submit" class="btn btn-success" name="AjouterCar" value="Ajouter la voiture" id="AjouterCar" />
        </div>
    </div>

    <!-- Filters -->
    <div class="box collapsed-box">

        <div class="box-header with-border">
            <h3 class="box-title">Filtres</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Filtre par emplacement</label>
                        <select class="form-control select2CarModel">
                            <option>Campus de Nantes</option>
                            <option>Campus de Nantes Faraday</option>
                            <option>Campus de Rennes</option>
                            <option>Campus de Niort</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Disponibilité</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="freeOn">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Nombre de place</label>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> 5
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> 7
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input id="search-input" type="text" name="q" class="form-control search" placeholder="Rechercher une voiture (plaque d'immatriculation, Marque, Modèle)">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- List -->
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Liste des voitures</h3>
        </div>

        <div class="box-body">
            <div class="row" id="renderListCar">
                @{ Html.RenderAction("_ListCars", "Car"); }
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script>

        function formatCarMake(carMake) {
            if (!carMake.id) {
                return carMake.text;
            }

            var baseUrl = "/Images/logoCarMake";
            var $carMake = $(
                '<span><img src="' + baseUrl + '/' + carMake.element.text.toLowerCase() + '.png" class="img-carMake" /> ' + carMake.text + '</span>'
            );

            return $carMake;
        }

        $(function () {
            $(".select2CarMake").select2({
                theme: "bootstrap",
                templateResult: formatCarMake
            });

            $(".select2CarModel").select2({
                theme: "bootstrap"
            });

            $('#search-input').on('keypress', function () {
                var licencePlate = $('#search-input').val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("_ListCars", "Car")',
                    dataType: 'html',
                    data: { licencePlate: licencePlate },
                    success: function (response) {
                        $("#renderListCar").html(response);
                    }
                });
            });

            $("#SelectedCarsMakeId").on('change', function () {
                var idCarMake = $("#SelectedCarsMakeId > option:selected").attr("value");
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCarsModels", "Car")',
                    dataType: 'json',
                    data: { idMake: idCarMake },
                    success: function (response) {
                        var items = "<option>--------------------</option>";
                        $.each(response, function (i, model) {
                            items += "<option value='" + model.Value + "'>" + model.Text + "</option>";
                        });
                        $("#dropdownlistCarsModels").html(items);
                    }
                });
            });

            $("#AjouterCar").on('click', function () {

                var car = {};

                car.id_Car_Model = $("#dropdownlistCarsModels > option:selected").attr("value");
                car.licence_plate = $("#Licence_Plate").val();
                car.Mileage = $("#Mileage").val();
                car.Id_Company = $("#dropdownlistCompany > option:selected").attr("value");

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddCar", "Car")',
                    data: '{car: ' + JSON.stringify(car) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        alert("Ajoutée");
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    </script>
}

