@{
    ViewBag.Title = "Gestion d'une flotte de voiture";
}

<section class="content-header">
    <h1>
        Gestion d'une flotte de voiture
        <small>Version 1.0</small>
    </h1>
</section>

<section class="content">

    <!-- Alert-->
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-warning"></i> Nouvelles demandes</h4>
        Vous avez 2 nouvelles demandes à valider.
    </div>

    <!-- Info boxes : KM per person -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>70<sup style="font-size: 20px">km</sup></h3>

                    <p>Richard Doe</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">Fiche personne <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>60<sup style="font-size: 20px">km</sup></h3>

                    <p>Jane Doe</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">Fiche personne <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>50<sup style="font-size: 20px">km</sup></h3>

                    <p>John Smith</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">Fiche personne <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>40<sup style="font-size: 20px">km</sup></h3>

                    <p>Gray</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">Fiche personne <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- Monthly recap -->
        <div class="col-md-8">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Récapitulatif des emprunts mensuels</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">
                                <strong>Emprunts: 1 Jan 2019 - 30 Jul 2019</strong>
                            </p>
                            <div class="chart">
                                <canvas id="salesChart" style="height: 180px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- Round chart : Cars -->
        <div class="col-md-4">
            <div class="box box-default">

                <div class="box-header with-border">
                    <h3 class="box-title">Utilisation des voitures</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">

                        <div class="col-md-7">
                            <div class="chart-responsive">
                                <canvas id="pieChart" height="150"></canvas>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <ul class="chart-legend clearfix">
                                <li><i class="fa fa-circle-o text-red"></i> Disponibles</li>
                                <li><i class="fa fa-circle-o text-green"></i> Empruntées</li>
                                <li><i class="fa fa-circle-o text-yellow"></i> Révision (en cours ou prochaine)</li>
                                <li><i class="fa fa-circle-o text-aqua"></i> Garage</li>
                                <li><i class="fa fa-circle-o text-light-blue"></i> Autre</li>
                                <li><i class="fa fa-circle-o text-gray"></i> Autre</li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>