@model CarRental.UI.ViewsModels.Booking.BookingIndexViewsModel

@{
    ViewBag.Title = "index";
}

<section class="content-header">
    <h2>Mes réservations</h2>

</section>
<section class="content">
    <div class="box box-primary collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Faire une réservation</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="text-light-blue">General</h4>

                    <!-- driver column -->
                    <div class="form-group">
                        <select class="form-control select2" id="SelectedDriverId" data-placeholder="Entrez le conducteur" style="width: 100%;">
                            <option value="1">Paul Martin</option>
                            <option value="2">Blanche Denis</option>
                            <option value="3">Frédéric Veilleux</option>
                            <option value="4">Paul Raymond</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <!--personnal vehicle checkbox -->
                        <div class="checkbox">
                            <label class="col-sm-6">
                                <input type="checkbox" id="checkBoxIsPersonalCarAvailable">
                                Véhicule personnel disponible
                            </label>
                            <label class="col-sm-6">
                                <input type="checkbox" id="checkBoxDriverChange">
                                Changement de conducteur
                            </label>
                        </div>
                        <br>
                    </div>

                    <div class="form-group" id="driverChange">
                        <select class="form-control select2" id="DropDownListDriverChange" data-placeholder="Conducteur retour" style="width: 100%;">
                            <option value="1">Paul Martin</option>
                            <option value="2">Blanche Denis</option>
                            <option value="3">Frédéric Veilleux</option>
                            <option value="4">Paul Raymond</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="checkBoxCoVoiturage">
                                Co-voiturage non accepté
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <select class="form-control select2" id="DropDownListPassagers" multiple="multiple" data-placeholder="Entrez les passagers" style="width: 100%;">
                            <option value="1">Paul Martin</option>
                            <option value="2">Blanche Denis</option>
                            <option value="3">Frédéric Veilleux</option>
                            <option value="4">Paul Raymond</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control select2" multiple="multiple" data-placeholder="Catégorie du déplacement" style="width: 100%;">
                            <option>Technique</option>
                            <option>Formation</option>
                            <option>Evenement</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="reason" placeholder="Raison du déplacement">
                    </div>

                </div>
                <div class="col-sm-6">
                    <h4 class="text-light-blue">Point de départ</h4>

                    <div class="form-group col-sm-12">
                        <div class="input-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' id="Departure_Date" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <p id="link"></p>

                    <div class="row">
                        <div class="col-xs-6">
                            <button id="buttonAddressAutoDeparture" type="button" class="btn btn-block btn-default">
                                Adresse prédéfinie
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <button id="buttonAddressManualDeparture" type="button" class="btn btn-block btn-default link">
                                Adresse manuelle
                            </button>
                        </div>
                    </div>
                    <br>

                    <div class="form-group" id="DropDownListAddressDeparture">
                        @Html.DropDownListFor(m => m.AddressDepartureId, Model.Addresses, "Adresse prédéfinie", new { @class = "form-control select2" } )
                        @*<select class="form-control select2" data-placeholder="Adresse prédéfinie" style="width: 100%;">
                            <option value="1">Campus de Nantes</option>
                            <option value="2">Campus de Nantes Faraday</option>
                            <option value="3">Campus de Rennes</option>
                            <option value="4">Campus de Niort</option>
                            <option>Autre</option>
                        </select>*@
                    </div>

                    <div class="form-group" id="manAddressDepTxt">
                        <input id="InputAddressDeparture" type="text" class="form-control">
                    </div>

                    <br>
                    <h4 class="text-light-blue">Point d'arrivée</h4>

                    <div class="noPadding form-group col-sm-12">
                        <div class='input-group date' id='datetimepicker2'>
                            <input type='text' id="Arrival_Date" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    

                    <div class="row form-group">
                        <div class="col-xs-6">
                            <button id="buttonAddressAutoArrival" type="button" class="btn btn-block btn-default">
                                Adresse prédéfinie
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <button id="buttonAddressManualArrival" type="button" class="btn btn-block btn-default link">
                                Adresse manuelle
                            </button>
                        </div>
                    </div>

                    <div class="form-group" id="DropDownListAddressArrival">
                        @Html.DropDownListFor(m => m.AddressArrivalId, Model.Addresses, "Adresse prédéfinie", new { @class = "form-control select2" })

                        @*<select class="form-control select2" data-placeholder="Adresse prédéfinie" style="width: 100%;">
                            <option value="1">Campus de Nantes</option>
                            <option value="2">Campus de Nantes Faraday</option>
                            <option value="3">Campus de Rennes</option>
                            <option value="4">Campus de Niort</option>
                            <option>Autre</option>
                        </select>*@
                    </div>

                    <div class="form-group" id="InputAddressArrival">
                        <input id="InputAddressArrival" type="text" class="form-control">
                    </div>

                </div>
            </div>

            <div class="box-footer text-center">
                <a class="btn btn-app">
                    <i class="fa fa-mail-reply"></i> Annuler
                </a>
                <a class="btn btn-app" href="@Url.Action("Insert", "RequestBooking")">
                    <i class="fa fa-edit"></i> Plus d'options
                </a>
                <a class="btn btn-app bg-olive">
                    <i class="fa fa-save" id="DemanderReservation"></i>Enregistrer
                </a>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(function () {

            toogleClickAutoAddressDeparture();
            toogleClickAutoAddressArrival();

            $('#datetimepicker1').datetimepicker({
                locale: 'fr'
            });

            $('#datetimepicker2').datetimepicker({
                locale: 'fr'
            });

            handleStatusChanged();

            $("#DemanderReservation").on('click', function () {
                addRequestBooking();
            });

            $(".select2").select2({
                theme: "bootstrap"
            });            
        });

        function getValues() {

            var requestBooking = {};
            var stopOver = {};
            var driver = $("#SelectedDriverId > option:selected").attr("value");

            if ($("#DropDownListDriverChange").is(":disabled")) {
                driver2 = driver;
            } else {
                driver2 = $("#DropDownListDriverChange > option:selected").attr("value");
            }

            requestBooking.reason = $("#reason").val();
            requestBooking.isPersonalCarAvailable = $("#checkBoxIsPersonalCarAvailable").is(":checked");

            stopOver.Departure_Date = new Date($('#Departure_Date').val());
            stopOver.Arrival_Date = new Date($('#Arrival_Date').val());

            var addressDeparture = $("#DropDownListAddressDeparture option:selected").val();
            var addressArrival = $("#DropDownListAddressArrival option:selected").val();
            var passagers = $('#DropDownListPassagers').val();

            return { requestBooking: requestBooking, passagers: passagers, driver: driver, driver2: driver2, stopOver: stopOver, addressDeparture: addressDeparture, addressArrival: addressArrival };
        }

        function getNewStopOver() {

        }

        function addRequestBooking() {

            var data = getValues();

            console.log("Passager : " + data.passagers);
            console.log("Date Depart : " + data.stopOver.Departure_Date + " Address depart : " + data.addressDeparture + " Date retour : " + data.stopOver.Arrival_Date + " Address Retour : " + data.addressArrival);
            console.log("Conducteur : " + data.driver + " Conducteur retour " + data.driver2  + " Raison " + data.requestBooking.reason + " Véhicule perso dispo : " + data.requestBooking.isPersonalCarAvailable);

            

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddRequestBooking", "RequestBooking")',
                data: '{requestBooking: ' + JSON.stringify(data.requestBooking) + ', passagers: ' + JSON.stringify(data.passagers) + ', driver: ' + JSON.stringify(data.driver) + ', driver2: ' + JSON.stringify(data.driver2) + ', stopOver: ' + JSON.stringify(data.stopOver) + ', addressDeparture: ' + JSON.stringify(data.addressDeparture) + ', addressArrival: ' + JSON.stringify(data.addressArrival)+'}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert("Ajoutée");
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        $(document)
            .on('click', "#buttonAddressAutoDeparture", toogleClickAutoAddressDeparture)
            .on('click', "#buttonAddressManualDeparture", toogleClickManualAddressDeparture)
            .on('click', "#buttonAddressAutoArrival", toogleClickAutoAddressArrival)
            .on('click', "#buttonAddressManualArrival", toogleClickManualAddressArrival)

        function toogleClickAutoAddressDeparture() {
            $("#InputAddressDeparture").hide();
            $("#DropDownListAddressDeparture").show();
            $("#buttonAddressAutoDeparture").prop('disabled', true);
            $("#buttonAddressManualDeparture").prop('disabled', false);
        }

        function toogleClickManualAddressDeparture() {
            $("#DropDownListAddressDeparture").hide();
            $("#InputAddressDeparture").show();
            $("#buttonAddressAutoDeparture").prop('disabled', false);
            $("#buttonAddressManualDeparture").prop('disabled', true);
        }

        function toogleClickAutoAddressArrival() {
            $("#InputAddressArrival").hide();
            $("#DropDownListAddressArrival").show();
            $("#buttonAddressAutoArrival").prop('disabled', true);
            $("#buttonAddressManualArrival").prop('disabled', false);
        }

        function toogleClickManualAddressArrival() {
            $("#DropDownListAddressArrival").hide();
            $("#InputAddressArrival").show();
            $("#buttonAddressAutoArrival").prop('disabled', false);
            $("#buttonAddressManualArrival").prop('disabled', true);
        }

        function handleStatusChanged() {
            $('#checkBoxDriverChange').on('change', function () {
                toggleChangeConducteur();   
            });
            $('#checkBoxCoVoiturage').on('change', function () {
                toggleChangeCoVoiturage();
            });
        }

        function toggleChangeCoVoiturage() {
            if ($('#checkBoxCoVoiturage').is(':checked')) {
                $('#DropDownListPassagers').attr('disabled', true);
            } else {
                $('#DropDownListPassagers').removeAttr('disabled');
            }   
        }

        function toggleChangeConducteur() {
            if ($('#checkBoxDriverChange').is(':checked')) {
                $('#DropDownListDriverChange').attr('disabled', true);
            } else {
                $('#DropDownListDriverChange').removeAttr('disabled');
            }   
        }
    </script>
}